p {
    background: white;
    text-color: black;
    padding: 20px;
}

body {

    background-color: #184169;
    font-family: arial, sans-serif;
}

header {
    color: #9cb1bf
}

nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    padding-right: 14px;
    padding-left: 14px;
    
}

nav li {

    float: left;
}
nav li a {

    padding-left: 14px;
    padding-right: 14px;
    color: #9cb1bf
}


