p {
    color: #9CB1BF;
    padding: 20px;
    border-style: solid;
    border-color: #9cb1bf
    
}

body {

    background-color: #184169;
    font-family: arial, sans-serif;
}

header {
    color: #9cb1bf
}

nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    padding-right: 14px;
    padding-left: 14px;
    
}

nav li {

    float: left;
    
}
nav li a {

    padding-left: 14px;
    padding-right: 14px;
    color: #9cb1bf
    
}

#opening {

    font-style: italic;
    
}

.odd {

    color: #121c25;
    
    }
    
.even {

    background-color: transparent;
    color: #121C25;
    border-color: #121c25
    
    }

h2 {

    color: #9cb1bf;
    
    }

th {

    color: #9cb1bf;
    
    }
td {

    color: #9cb1bf;
    
    }
table {
    border-style: solid;
    border-color: #9bc1bf;

}

.btn-success {
    
    background-image: linear-gradient, #5cb85c;
}
